### test analysis module

In [1]:
os.getcwd()
import pydrodelta.analysis 
import json
import matplotlib.pyplot as plt

#### instantiate boundarySet class from config file (.xml)

In [2]:
bordes_config = json.load(open("pydrodelta_config/288_short.json"))
bordes_set = pydrodelta.analysis.BoundarySet(bordes_config)
bordes_set

#### batch process

In [3]:
bordes_set.batchProcessInput()

Warning: series 26202 from cal_id 432 not found
Warning: no data found for series_id=26202, cal_id=432
Warning: no data found for series_id=31536
Detecta Outliers:
Limite superior 4.62
Limite inferior -2.25
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 5.0
Limite inferior -3.03
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 4.18
Limite inferior -1.82
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 3.42
Limite inferior -1.7
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 2.66
Limite inferior -2.01
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 4.62
Limite inferior -2.25
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 1000.0
Limite inferior 0.0
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 10000.0
Limite inferior 0.0
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 8.0
Limite inferior -1.5
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 8.0
Limite inferior -1.5
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 8.0
Limite inferior -1.5
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 3.42
Limite inferior -1.7
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 2.66
Limite inferior -2.01
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 3.42
Limite inferior -1.7
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 6000.0
Limite inferior -0.0
Cantidad de outliers:  0
Detecta Outliers:
Limite superior 6000.0
Limite inferior -0.0
Cantidad de outliers:  0
Detecta Saltos:
Limite Salto (m):  0.958
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.835
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.8
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.4
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.5
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.958
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  1000.0
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  1000.0
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.7
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.7
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.7
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.4
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.5
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  0.4
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  6000.0
Cantidad de Saltos 0
Detecta Saltos:
Limite Salto (m):  6000.0
Cantidad de Saltos 0
Deriving 31521 from Nueva Palmira - Stage Hydrograph -1H
Interpolating 31524 from San Fernando - Stage Hydrograph - 1H and Nueva Palmira - Stage Hydrograph -1H
Interpolating 31523 from San Fernando - Stage Hydrograph - 1H and Nueva Palmira - Stage Hydrograph -1H
Interpolating 31522 from San Fernando - Stage Hydrograph - 1H and Nueva Palmira - Stage Hydrograph -1H
Interpolating 31526 from San Fernando - Stage Hydrograph - 1H and Nueva Palmira - Stage Hydrograph -1H
Interpolating 31527 from San Fernando - Stage Hydrograph - 1H and Nueva Palmira - Stage Hydrograph -1H
Deriving 31528 from San Fernando - Stage Hydrograph - 1H
Interpolating 31529 from San Fernando - Stage Hydrograph - 1H and Nueva Palmira - Stage Hydrograph -1H
Deriving 31532 from Nueva Palmira - Stage Hydrograph -1H
Interpolating 31533 from San Fernando - Stage Hydrograph - 1H and Nueva Palmira - Stage Hydrograph -1H
Interpolating 31535 from San Fernando - Stage Hydrograph - 1H and Nueva Palmira - Stage Hydrograph -1H

#### save into file (csv, json)

In [4]:
bordes_set.saveData("tmp/288_short_boundaries.csv")
bordes_set.saveData("tmp/288_short_boundaries.json",format="json")

#### pivot boundary

In [5]:
pivoted_boundary = bordes_set.boundaries[0].pivotData()
pivoted_boundary

,valor_52,valor_85,valor_3279,valor_3280,valor_2111,valor_26202
timestart,,,,,,
2022-06-01 00:00:00-03:00,0.49000,0.4000,0.580000,0.49,0.510000,NaN
2022-06-01 01:00:00-03:00,0.47000,0.4150,0.562694,0.48,0.505056,NaN
2022-06-01 02:00:00-03:00,0.39000,0.3825,0.495167,0.46,0.485056,NaN
2022-06-01 03:00:00-03:00,0.32500,0.3950,0.435167,0.43,0.460111,NaN
2022-06-01 04:00:00-03:00,0.33750,0.6550,0.375167,0.42,0.425056,NaN
...,...,...,...,...,...,...
2022-07-09 20:00:00-03:00,-0.03000,-0.1900,NaN,0.16,0.205056,NaN
2022-07-09 21:00:00-03:00,-0.10625,-0.2675,NaN,0.13,0.180111,NaN
2022-07-09 22:00:00-03:00,-0.17125,-0.3250,NaN,0.10,0.142583,NaN
2022-07-09 23:00:00-03:00,-0.23000,-0.2950,NaN,0.10,0.112583,NaN
2022-07-10 00:00:00-03:00,-0.26000,0.2500,NaN,NaN,0.090000,NaN

#### save pivot boundary set

In [6]:
pivoted = bordes_set.pivotData()
pivot_json_data = bordes_set.toList(True)
pivot_csv_data = bordes_set.toCSV(True)
bordes_set.saveData("tmp/288_short_boundaries_pivot.csv",pivot=True)
bordes_set.saveData("tmp/288_short_boundaries_pivot.json",format="json",pivot=True)

#### upload results

In [7]:
uploaded = bordes_set.uploadData()
len(uploaded)

Warning: missing output_series_id for boundary #4, skipping upload

11360